﻿<h1>Nuevo Doctor</h1>
<p>
    <a asp-controller"Departamentos" asp-action="Index">Back To Index</a>
</p>

<form method="post">
    <label>hospitalCod: </label>
    <input type="number" name="hospitalCod" class="form-control" />
    <label>Apellido: </label>
    <input type="text" name="apellido" class="form-control" />
    <label>Especialidad: </label>
    <input type="text" name="especialidad" class="form-control" />
    <label>Salario: </label>
    <input type="number" name="salario" class="form-control" /> <br />
    <button class="btn btn-outline-dark">
        Insertar Doctor
    </button>
</form>

